body{
	 background-color:#FFCC70; 
	 border:1px solid blue; padding:1em;
	}
/*This is an example of a tag selector, borders and paddings*/

h1,.form1{text-align:center;color:darkgreen;}
/*This is an example of a compound selector, group selector and class selector*/

fieldset{padding: 50px; margin-left:auto; margin-right:auto;}
/*This is an example of margins*/

#submit{background-color: #4CAF50; border-radius: 20px; 
        padding: 20px 30px; color: white; display:block; margin:auto;}
/*This is an example of an ID selector*/		

.container{width: 80%;
  margin: auto;}
  
  label
{
	text-align:right;
	margin-right:0.25em;
	
}